<template>
  <div
    class="tab-pane fade show active overflow-auto"
    id="list-all"
    role="tabpanel"
    aria-labelledby="list-all-list"
  >
    <div v-bind:key="channel.id" v-for="channel in channels">
      <all-channel-item-detail
        v-for="channelItem in channel.channelItems"
        v-bind:key="channelItem.id"
        v-bind:itemDetail="channelItem"
      />
    </div>
  </div>
</template>
<script>
import channelItemDetails from "./ChannelItemDetail";
export default {
  name: "AllChannelItemsComponent",
  components: {
    "all-channel-item-detail": channelItemDetails
  },
  props: ["channels"]
};
</script>
<style scoped>
    #list-all{
        height: 500px;
    }
</style>


