<template>
  <div class="list-group" id="list-tab" role="tablist"> 
    <a
      class="list-group-item list-group-item-action active"
      id="list-all-list"
      data-toggle="list"
      href="#list-all"
      role="tab"
      aria-controls="all"
    >All</a>

    <a
      v-bind:key="channel.channelName"
      v-for="channel in channels"
      class="list-group-item list-group-item-action"
      v-bind:id="'list-'+channel.channelId+'-list'"
      data-toggle="list"
      v-bind:href="'#list-'+ channel.channelId"
      role="tab"
      v-bind:aria-controls="channel.channelId"
    >{{channel.channelName}}</a>
  </div>
</template>
<script>
export default {
  name: "ChannelList",
  props: ["channels"]
};
</script>

<style>
</style>