<template>
  <div>
    <h5>
      <a v-bind:href="itemDetail.url">{{itemDetail.title}}</a>
    </h5>
    <p>{{itemDetail.summary}}</p>
  </div>
</template>

<script>
export default {
  name: "ChannelItemDetailComponent",
  props: ["itemDetail"]
};
</script>

<style scoped>
</style>


