<template>
  <div id="app">
    <div class="page-bg">
      <article id="page-header">
        <nav class="navbar navbar-dark navbar-expand-md">
          <div class="container">
            <a class="navbar-brand" href="#">KeepMePosted</a>
            <div>
              <span class="navbar-text">
                <a class="login-button" href="#">Log In</a>
              </span>
              <a class="btn btn-light signup-action-button" role="button" href="#">Sign Up</a>
            </div>
          </div>
        </nav>
      </article>
      <article id="page-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="row">
                <div class="col-4 col-lg-4">
                  <h3>Channels</h3>
                  <section>
                    <!-- <div class="list-group" id="list-tab" role="tablist">               -->
                    <channel-list v-bind:channels="channels"/>
                    <!-- </div> -->
                  </section>
                </div>
                <div class="col-8 col-lg-8">
                  <h3>Posts</h3>
                  <section class="post-content">
                    <div class="card">
                      <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                          <all-channel-item v-bind:channels="channels" />
                          <div
                            v-for="channel in channels"
                            v-bind:key="channel.channelId"
                            class="tab-pane fade"
                            v-bind:id="'list-'+channel.channelId"
                            role="tabpanel"
                            v-bind:aria-labelledby="'list-'+channel.channelId+'-list'"
                          >
                            <channel-Item v-bind:channelItems="channel.channelItems" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import channelList from "./components/ChannelList";
import channelItemsComponent from "./components/ChannelItems";
import allChannelItems from "./components/AllChannelItem"
export default {
  name: "app",
  components: {
    "channel-list": channelList,
    "channel-Item": channelItemsComponent,
    "all-channel-item": allChannelItems
  },
  data: () => {
    return {
      channels: [
        {
          channelId: "1",
          channelName: "Hacker News",
          channelUrl: "https://news.ycombinator.com/rss",
          channelItems: [
            {
              id: "1",
              title:
                "Former Volkswagen (Vow) CEO Winterkorn Charged in Diesel Rigging",
              summary:
                "Former Volkswagen AG head Martin Winterkorn was charged with serious fraud in Germany for his role in the diesel-rigging scandal that rocked the carmaker and cost it about 29 billion euros ($33 billion).",
              url:
                "https://www.bloomberg.com/news/articles/2019-04-15/ex-vw-ceo-winterkorn-charged-in-germany-over-diesel-rigging"
            },
            {
              id: "2",
              title:
                "How Apple, Google, and other tech companies conspired against their own workers",
              summary:
                "Top executives of leading tech companies secretly agreed among themselves not to hire each other’s employees, thereby restricting wages and job opportunities of the very people to whom they owed their success. ",
              url: "https://news.ycombinator.com/item?id=19666545"
            },
            {
              id: "3",
              title: "Travel through wormholes is possible, but slow",
              summary:
                "A Harvard physicist has shown that wormholes can exist: tunnels in curved space-time, connecting two distant places, through which travel is possible.",
              url: "https://phys.org/news/2019-04-wormholes.html"
            }
          ]
        },
        {
          channelId: "2",
          channelName: "Codeing Horror",
          channelUrl: "https://blog.codinghorror.com/rss/",
          channelItems: [
            {
              id: "1",
              title: "The Cloud Is Just Someone Else's Computer",
              summary:
                "When we started Discourse in 2013, our server requirements were high:1GB RAM,modern, fast dual core CPU,speedy solid state drive with 20+ GB",
              url:
                "https://blog.codinghorror.com/the-cloud-is-just-someone-elses-computer/"
            },
            {
              id: "2",
              title: "What does Stack Overflow want to be when it grows up?",
              summary:
                "I sometimes get asked by regular people in the actual real world what it is that I do for a living, and here's my 15 second answer: We built a sort of Wikipedia website for computer programmers to post questions and answers. It's called Stack Overflow.",
              url:
                "https://blog.codinghorror.com/what-does-stack-overflow-want-to-be-when-it-grows-up/"
            },
            {
              id: "3",
              title: "There is no longer any such thing as Computer Security",
              summary:
                "Mysterious hooded computer guys doing mysterious hooded computer guy .. things! Who knows what kind of naughty digital mischief they might be up to?Unfortunately, we now live in a world where this kind of digital mischief is literally rewriting the world's history.",
              url:
                "https://blog.codinghorror.com/there-is-no-longer-any-such-thing-as-computer-security/"
            }
          ]
        },
        {
          channelId: "3",
          channelName: "Exception Not Found",
          channelUrl: "https://www.exceptionnotfound.net/rss/",
          channelItems: [
            {
              id: "1",
              title: "Be The Laziest Programmer You Can Be",
              summary:
                "Be lazy. It's OK.  Lazy programmers are GOOD programmers.",
              url:
                "https://exceptionnotfound.net/be-the-laziest-programmer-you-can-be/"
            },
            {
              id: "2",
              title:
                "Fixing Intellisense and Go To Definition in Visual Studio 2019",
              summary:
                "I had a set of very strange problems after upgrading to Visual Studio 2019 early this week, and they were significantly hampering my ability to get work done.",
              url:
                "https://exceptionnotfound.net/fixing-intellisense-and-go-to-definition-in-visual-studio-2019/"
            },
            {
              id: "3",
              title: "Developers, Blog More and Own Your Words",
              summary:
                "Every developer should have a blog.  And, no, Medium doesn't count.",
              url:
                "https://exceptionnotfound.net/developers-own-your-words-and-blog-more/"
            },
            {
              id: "4",
              title: "A Definitive FizzBuzz Solution Guide in C#",
              summary:
                "Let's take the FizzBuzz question and dissect how you can solve it, what the common mistakes are, and how to improve on it.",
              url:
                "https://exceptionnotfound.net/a-definitive-fizzbuzz-solution-guide-in-c-sharp/"
            }
          ]
        },
        {
          channelId: "4",
          channelName: "Netflix TechBlog - Medium",
          channelUrl: "https://medium.com/feed/netflix-techblog",
          channelItems: [
            {
              id: "1",
              title:
                "Learn about Netflix’s world class engineering efforts, company culture, product developments and more. - Medium",
              summary:
                "As Netflix continues to create entertainment people love, the security team continues to keep our members, partners, and employees secure. The security research community has partnered with us to improve the security of the Netflix service for the past few years through our responsible disclosure and bug bounty programs",
              url:
                "https://medium.com/netflix-techblog?source=rss----2615bd06b42e---4"
            },
            {
              id: "2",
              title:
                "Building and Scaling Data Lineage at Netflix to Improve Data Infrastructure Reliability, and…",
              summary:
                "Imagine yourself in the role of a data-inspired decision maker staring at a metric on a dashboard about to make a critical business decision but pausing to ask a question — “Can I run a check myself to understand what data is behind this metric?”",
              url:
                "https://medium.com/netflix-techblog/building-and-scaling-data-lineage-at-netflix-to-improve-data-infrastructure-reliability-and-1a52526a7977"
            },
            {
              id: "3",
              title: "Netflix Public Bug Bounty, 1 year later",
              summary:
                "Mysterious hooded computer guys doing mysterious hooded computer guy .. things! Who knows what kind of naughty digital mischief they might be up to?Unfortunately, we now live in a world where this kind of digital mischief is literally rewriting the world's history.",
              url:
                "https://medium.com/netflix-techblog/netflix-public-bug-bounty-1-year-later-8f075b49d1cb"
            }
          ]
        }
      ]
    };
  }
};
</script>

<style>
</style>
